*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}


html,body{
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
ul{
    list-style: none;

}
a{
    color: white;
    text-decoration: none;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px 0;
}  

nav ul{
    display: flex;
    gap: 20px;
}
nav ul li {
    
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
nav ul li:hover{ 
    border-bottom: 2px solid white;
    transition: 0.2s ease-in-out;
}

.logo{
    font-size: 30px;
}


.hero-section{
    background-image: url(images/hero_image.png);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
}

.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-section h1{
    font-size: 48px;
    font-weight: 800;

}

.hero-section h3{
    font-size: 32px;

}

.music-section{
    padding-top: 50px;
    background-color: var(--purple500);
    height: 100vh;
}
.music-section .container{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    gap: 23px;
    align-items: center;
    color: white;
}

.music-section .container h2{
    font-size: 40px;
    font-weight: 400;
}

.music-section .container h3{
    font-size: 30px;
    font-weight: 500;

}
.music-section .container h4{
    /* line-height: 1; */
    font-size: 15px;
    text-align: center;
}
.primary-btn{
    background-color: var(--red600);
    border: none;
    /* font-size: 40px; */
    color: white;
    font-weight: 300;
    align-self: center;
    width: 150px;
    height: 50px;
}
.music-section .container p{
    font-weight: 100;
}
.ipad-iphone-img{
    position: absolute;
    margin-top: 22%;
}

.about-music{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
}

.about-music h3{
    font-size: 30px;

}

.about-music p{
    line-height: 1.4em;
    font-size: 20px;
    font-weight: 300;
}
.secondary-btn{
    background-color: #270082;
    color: white;
    font-weight: 300;
    align-self: center;
    width: 150px;
    height: 50px;
    border: none;
}

.video-section{
    background-image: url(images/video.png);
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;

}

.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.video-section .container h3{
    font-size: 30px;
}

.gift-section{
    display: flex;
        margin-top: 35px;    
        gap: 30px;


}

.gift-content{
    padding: 50px;
}
.gift-content h3{
    font-size: 25px;
    font-style: bold;
    font-weight: 800;
    margin-bottom: 25px;

}

.gift-content p{
    line-height: 24px;
    margin-bottom: 25px;
}

.gift-content .secondary-btn{
    margin-top: 25px;
}
.footer-upper{
    background-color: #281154;
}
.footer-upper .container{
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: #281154; */
    justify-content: space-between;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;

}
.footer-upper .container h4{
    font-size: 20px;
    border-bottom: 2px solid white;
}

.footer-lower{
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding: 10px;   */
    background-color: #270082;
    color: white;
    align-items: center;
    text-align: center;
}
.footer-lower .container p{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

































/* nav{
    position: sticky;
    background-color: #0a6dc2;
}

.top_section{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    
    margin-right: 200px;
    color: white;
}
.logo_text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}


.menu_content ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

.top-section{
    background-image: url(images/hero_image.png);
    background-position: center;
     background-attachment: fixed 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
color: white;    
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
gap: 25px;

}

.top-heading{
    font-size: 50px;
    font-weight: 400;
}
.top-description{
    font-size: 26px;
}
.top-text{
    width: 710px;
    text-align: center;
}
 */
